{% extends "layout.html" %}

{% block content %}
{% if file_url %}
    <div class="content-section">
    <center>
        <img class="img-circle" alt="" src="{{ url_for('static', filename= os.path.join('image_vision', filename)) }}" width="30%" style="text-align:center ; border-radius: 10%;; margin-left:auto ; margin-right:auto"> 
        <blockquote class="blockquote">
            <footer class="blockquote-footer">{{ form.description.data }}</footer>
        </blockquote>
    </center>
</div>
{% else %}

    <!-- <legend class="border-bottom mb-4">Classification</legend> -->
   
{% endif %}



<div class="content-section">

        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Image Classification</legend>
                    {{ form.picture.label(class='form-control-label') }}
                    <input type=file name=file class="form-control form-control-sd" name="title">
            </fieldset>
            <fieldset class="form-group">
                    {{ form.modelkeras.label(class='form-control-label') }}
                    <input type=file name=kerasfile class="form-control form-control-sd" name="title">
            </fieldset>

     

            <fieldset class="form-group">
        
            {{ form.imagesize.label(class='form-control-label') }}
            {% if form.imagesize.errors %}
            <div class='invalid-feedback'>
                {% for error in form.imagesize.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.imagesize(class='form-control form-control-sd') }}
            </fieldset>

            <fieldset class="form-group">
                
                {{ form.description.label(class='form-control-label') }}
                
                {% if form.description.errors %}
                <div class='invalid-feedback'>
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {{ form.description(class='form-control form-control-lg') }}

            </fieldset>

            <fieldset class="form-group">

                {{ form.submit(class='btn btn-outline-info') }}

            </fieldset>
        </form>
        
</div>


{% endblock %}