{% extends "layout.html" %}
{% block content %}

<div class="content-section">

    <form action="" method="POST" enctype="multipart/form-data">

        {{ form.hidden_tag() }}
    {% if post %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Post</legend>
                {{ form.title.label(class='form-control-label') }}
                <input type="text" class="form-control form-control-lg" name="title" value="{{ post.title }}">


        </fieldset>
        <fieldset class="form-group">
                {{ form.author.label(class='form-control-label') }}
                <input type="text" class="form-control form-control-lg" name="author" value="{{ post.author }}">

        </fieldset>
        <fieldset class="form-group">
                {{ form.content.label(class='form-control-label') }}
                <textarea name="content" cols="30" rows="10" class="form-control form-control-lg">{{ post.content }}</textarea>
        {% endif %}
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-outline-info" value="Update">
        </fieldset>

    </form>
</div>


{% endblock %}