{% extends "layout.html" %}
{% block content %}

<!-- <div class="content-section"> -->
{% if current_user.is_authenticated %}
<div class="col-md-12">
    <!-- <div class="content-section" style="margin-top:18px"> -->
    <form action="" method="POST" enctype="multipart/form-data">

      {{ form.hidden_tag() }}
  <div class="content-section">
    <fieldset class="form-group">
        <table width='100%' style="margin-top:18px">
          <tr>
            <td>{{ form.search(class='form-control form-control-md') }}</td>
            <td>{{ form.submit(class='btn btn-outline-info') }}</td>
          </tr>
        </table>
    </fieldset>
    </form>
 </div>
</div>
<!-- </div> -->



    <div class="col-md-12">
      {% for post in mypost %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
          <a href="http://localhost:5000/edit/{{ post.id_post }}"><button class="btn btn-outline-info" type="button">Edit</button></a>
          <a href="http://localhost:5000/delete/{{ post.id_post }}"><button class="btn btn-outline-info" type="button">Delete</button></a>
        </div>
        
      </article>
      
    {% endfor %}
    </div>

{% else %}

     <!-- JUMBOTRON -->
     <div class="col-md-12">
      <div class="content-section">
          <div class="jumbotron-fluid">
              <h1 class="display-4">AI Dummy Platform</h1>
              <p class="lead">computer vision, forecasting model and chatbot model</p>
              <hr class="my-4">
              <p>This is a simple platform to deploy your own machine learning model such as computer vision, forecasting model and chatbot model</p>
              <a class="btn btn-primary btn-lg" href="{{url_for('users.login')}}" role="button">start deploying</a>
          </div>
      </div>
      </div>

{% endif %}

{% endblock %}