{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
        <div class="col-md-12">
        {% for containers in container %}
        <article class="media content-section" style="text-align:center ; margin-left:auto ; margin-right:auto">
            <div class="media-body">
            <table width='100%'>
                <tr>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light"> Text Ouput :  {{ containers.ocr_out}}</li>
                            <li class="list-group-item list-group-item-light"> Description : {{ containers.description }}</li>
                        </ul>
                        <div style="margin-top:10px"><a href="http://localhost:5000/ocr_list/delete/{{ post }}"><button class="btn btn-outline-info" type="button">Delete</button></a></div> 
                    </td>

                </tr>
            </table>
            
            <!-- <p class="article-content">{{ containers.description }}</p> -->
            
            </div>
        </article>
        {% endfor %}
        </div>
        {% else %}

{% endif %}

{% endblock %}