{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>

            <!-- FORM HERE -->
            {{ form.username.label(class='form-control-label') }}
            {{ form.username(class='form-control form-control-lg') }}

        </fieldset>

        <fieldset class="form-group">
            {{ form.email.label(class='form-control-label') }}
            {{ form.email(class='form-control form-control-lg') }}
        </fieldset>

        <fieldset class="form-group">
            {{ form.password.label(class='form-control-label') }}
            {{ form.password(class='form-control form-control-lg') }}
        </fieldset>
        
        <fieldset class="form-group">
            {{ form.confirm_password.label(class='form-control-label') }}
            {{ form.confirm_password(class='form-control form-control-lg') }}
        </fieldset>

        <fieldset class="form-group">
            {{ form.submit(class='btn btn-outline-info') }}

        </fieldset>
    </form>
</div>
{% endblock %}